/**
 *
 * Folha de Estilos Padrão do site
 *
 *	Theme Name: CMS
 *	Version: 1.0
 *	Author: Infinito Web Sites
 *	Author URI: http://www.infinitoag.com
 *
**/
/***********************************
 * DEFINIÇÕES PRINCIPAIS
***********************************/
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 20px;
    overflow-x: hidden;
    color: #000;
}

body, html {

    min-height: 320px;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
}

a, a:hover {
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h2, h3, h4 {
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

/***********************************
 * BOTÕES E FORMS
***********************************/

.btn, .form-control {
    font-size: 14px;
}

.btn {
    border-radius: 0;
    box-shadow: none;
    outline: 0;
}

.btn-danger, .btn-danger:hover,
.btn-primary, .btn-primary:hover,
.btn-warning, .btn-warning:hover,
.btn-default, .btn-default:hover {
    background: #401A00;
    border-color: #401A00;
    color: #FFF !important;
}

.btn-rounded {
    border-radius: 25px;
}

.form-control {
    border-radius: 25px;
    box-shadow: none;
    background: #FFF;
    border: 1px solid #ddd;
}

textarea.form-control {
    border-radius: 15px;
}

.form-control:focus {
    border: 1px solid #999;
    box-shadow: none;
}

/***********************************
 * CLASSES E ELEMENTOS PRINCIPAIS
***********************************/

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

#page-header {
    margin: 0 0 50px;
    border: 0;
    background-color: #f7f7f7;
    padding: 25px 35px 35px;
    border-radius: 2px;
}

.alignleft {
    float: left;
    margin: 0 5px 5px 0;
}

.alignright {
    float: right;
    margin: 0 0 5px 5px;
}

.saiba-mais .btn {
    margin-right: 10px;
    margin-bottom: 15px;
}

.info-contato .fone {
    font-weight: bold;
}

.info-contato .email {
    font-size: 11px;
}

.info-contato {
    font-size: 14px;
    letter-spacing: -0.5px;
    padding: 8px 0;
}

hr.separator {
    position: relative;
    border: 0;
    display: block;
    margin: 40px 0;
    height: 1px;
    background-color: #383737;
}

hr.separator-cyan {
    background-color: #9cdce5;
}

/***********************************
 * CABECALHO E MENU
***********************************/

.scrolled #top-header,
.scrolled header#header,
.scrolled div#middle-header,
.scrolled #header-logo img,
.scrolled #main-nav .nav .menu-item a,
#top-header,
header#header,
div#middle-header,
#header-logo img,
#main-nav .nav .menu-item a {
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

#header {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
    min-height: 80px;
    background-color: #fff !important;
}

#header.navbar .navbar-nav li {
    margin: 0 8px;
    position: relative;
    height: 44px;
    display: flex;
    align-items: center;
}

/*#header.navbar .navbar-nav li:last-child::before {*/
/*content: " ";*/
/*height: 44px;*/
/*width: 1px;*/
/*background: #7bc9d4;*/
/*position: absolute;*/
/*left: -8px;*/
/*top: -4px;*/
/*}*/

#header.navbar .navbar-nav > li:last-child {
    border-left: 1px solid #7bc9d4;
    padding-left: 10px;
}

#header.navbar .navbar-nav > li:last-child a {
    color: #7bc9d4;
}

#header.navbar .navbar-nav > li .dropdown-toggle {
    display: block;
    padding: .5rem 1rem;
}

#navbarSupportedContent {
    text-align: center;
}

#logo-header {
    max-width: 140px;
}

.home #header {
    visibility: hidden;
    opacity: 0;
}

body.scrolled #home_slider #home-logo-link {
    display: none;
}

body.scrolled #header {
    visibility: visible;
    opacity: 1;
}

.admin-bar #header {
    top: 32px;
}

#top-header {
    padding-top: 25px;
    background: #fff;
    overflow: hidden;
    min-height: 100px;
}

#busca {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    height: 100%;
}

#link-contato, #header-social {
    display: inline-block;
    vertical-align: middle;
}

#searchform {
    text-align: center;
    align-content: center;
    display: inline-flex;
}

#searchsubmit {
    background: none;
    border: 0;
    cursor: pointer;
}

#header-social-wrapper {
    max-width: 130px;
    margin: auto;
    padding-left: 0;
    margin-left: 0px;
}

#header-social {
    border-right: 1px solid #aaa;
    border-left: 1px solid #7bc9d4;
    height: 100%;
    display: flex;
    align-items: center;
}

#header-social .social {
    width: 100%;
    text-align: center;
    padding: 10px;
}

#header-social a {
    font-size: 17px;
    display: inline-block;
    padding: 2px;
    vertical-align: middle;
}

#top-menu {
    height: 100%;
    display: flex;
    align-items: center;
}

#top-menu a.nav-link {
    border-radius: 0;
}

#middle-header {
    padding: 30px 0;
}

#header-logo {
    display: block;
    text-align: center;
}

#main-menu {
    background: transparent;
    border: 0;
    margin: 0;
    position: relative;
}

#main-menu:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,be1421+50,ffffff+100 */
    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, #9D9109 50%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, #9D9109 50%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, #9D9109 50%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1); /* IE6-9 */
}

#main-menu .nav {
    float: none;
    text-align: center;
    display: block;
}

#main-menu .nav .menu-item {
    float: none;
    display: inline-block;
}

#main-nav .nav .menu-item a {
    color: #333;
    position: relative;
    font-size: 20px;
    padding: 20px;
}

#main-nav .nav .menu-item.current-menu-item a {
    font-weight: bold;
}

#main-nav .nav .menu-item-has-children a {
    padding-right: 30px;
}

#main-nav .nav .menu-item-has-children > a:after {
    content: "";
    background: transparent url('img/seta-baixo.png');
    width: 12px;
    height: 9px;
    position: absolute;
    right: 10px;
    top: 27px;
}

#main-nav .nav .menu-item:hover > ul.sub-menu,
#main-nav .nav .menu-item > ul.sub-menu:hover {
    display: block;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

#main-nav ul.sub-menu {
    display: none;
    padding: 0;
    list-style: none;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 10px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

#main-nav ul.sub-menu > .menu-item > .sub-menu {
    left: 100%;
    top: 0;
    background: rgba(0, 0, 0, 1);
}

#main-nav .nav .sub-menu .menu-item a {
    display: block;
    background: #9D9109;
    width: 200px;
    padding: 10px;
    color: #FFF;
    font-size: 14px;
    text-align: left;
}

#breadcrumbs {
    text-align: left;
    margin-top: 25px;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
}

#breadcrumbs a {
    padding-right: 80px;
    position: relative;
    margin-right: 10px;
}

#breadcrumbs a::after {
    content: " ";
    width: 60px;
    background: #0b0b0b;
    display: inline-block;
    top: 9px;
    position: absolute;
    height: 1px;
    right: 0px;
}

#breadcrumbs a:last-child {
    display: none;
}

#breadcrumbs span, #breadcrumbs a {
    color: #393939;
    font-size: 15px;
    font-weight: 400;
}

#breadcrumbs.last-item-as-title .breadcrumb_last {
    position: relative;
    margin: 10px 0 20px;
    font-size: 45px;
    font-family: "Vidaloka", serif;
    font-style: italic;
    padding: 15px 20px 0 25px;
    display: block;
    line-height: 50px;
}

/***********************************
 * RODAPÉ
***********************************/

#footer, #footer a {
    color: #F6F6F6;
}

#footer {
    background-color: #232323;
    font-size: 13px;
    line-height: 16px;
    padding-top: 30px;
    padding-bottom: 100px;
}

#footer .title-separator {
    color: #676767;
}

#footer #footer-logo {
    min-height: 60px;
    height: 100%;
}

#footer #footer-logo a {
    height: 100%;
    display: flex;
    align-items: center;
}

#footer #footer-logo a img {
    margin: auto;
}

#footer #bottom-menu {
    min-height: 60px;
    line-height: 44px;
    float: right;
}

#footer #bottom-menu ul li a {
    margin: 0 5px;
    font-size: 14px;
}

#footer .social {
    height: 100%;
    min-height: 60px;
    display: flex;
    border-left: 1px solid #CCCCCC;
    align-items: center;
    float: right;
    max-width: 100px;
}

#footer .social a {
    font-size: 22px;
    display: inline-block;
    margin-left: 25px;
}

#copyright {
    padding: 10px;
    margin-top: 30px;
    font-size: 12px;
}

#copyright a {
    color: #FFF;
}

#copyright .col-copyright-text {
    text-align: left;
}

#copyright .col-copyright-logo {
    text-align: right;
}

#loading {
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: #FFF url('img/loading.gif') no-repeat center;
    display: block;
    top: 0;
    left: 0;
}

/***********************************
 * CONTEUDO / CORPO DO SITE
***********************************/
.main {
    margin-top: 80px;
}

.home .main {
    margin-top: 0;
}

.main .content > header {
    padding: 20px 0 10px;
    margin: 0px 0 50px;
    position: relative;
    z-index: 0;
}

.main .content {
    max-width: 1920px;
    margin: auto;
}

.main section.content {
    min-height: 450px;
}

header .page-title {
    position: relative;
    margin: 10px 0 20px;
    font-size: 36px;
    font-family: "Vidaloka", serif;
    font-style: italic;
    padding: 10px 20px 0 50px;
}

.page-subtitle {
    padding: 0 10px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-family: "Vidaloka", serif;
    line-height: 34px;
    font-style: italic;
    max-width: 900px;
    margin: auto;
    margin-bottom: 70px;
}

.blog-content {
    text-align: justify;
    line-height: 30px;
}

.content-body {
    overflow-x: hidden;
}

.post-main-thumb img {
    min-width: 100%;
}

.blog-sidebar {
    color: #7e7e7e;
    font-size: 13px;
}

.texto-destaque {
    height: 190px;
}

#page-content {
    margin-bottom: 100px;
}

#page-content.marginless {
    margin-bottom: 0;
}

#page-content .social a {
    font-size: 22px;
    color: #000;
    display: inline-block;
}

#related-pages li.parent a {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #bf1515;
}

#related-pages li {
    font-size: 16px;
    margin-bottom: 10px;
}

#related-pages li a {
    color: #000;
    font-size: 16px;
    display: block;
    line-height: 20px;
    margin-bottom: 10px;
}

#related-pages li.current > a {
    font-weight: bold;
}

#related-pages ul.sub-menu {
    padding: 10px 0 15px 15px;
}

.section-title {
    background: #BF1515;
    color: #FFF;
    text-align: center;
    margin: 0 50px 20px -65px;
    padding: 120px 0;
}

h1.subtitle {
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 0;
}

/***********************************
 * PÁGINAS
***********************************/

/*home*/

#home {
    color: #F6F6F6;
    background-color: #232323;
}

#home #slider-row {
    background: #FFFFFF;
}

#home_slider {
    position: relative;
}

#home_slider #home-logo-link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 20px;
}

#home_slider #home-logo-link img {
    max-width: 170px;
}

#home_slider .container {
    position: absolute;
    top: 60px;
    z-index: 100;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    max-width: 960px;
}

#homes_slider {
    background-color: #f6f6f6;
}

#homes_slider .cycloneslider {
    margin: 0;
}

.img-gallery {
    margin: auto;
}

.img-gallery .thumb img {
    height: 400px;
}

.img-gallery a:hover {
    color: initial;
}

.img-gallery > .row {
    margin-left: initial;
    margin-right: initial;
}

.img-gallery .img-gallery-item {
    padding: 0;
}

.img-gallery .img-gallery-item .thumb {
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
}

.img-gallery .img-gallery-item .thumb:hover {
    /*background: #9cdce5;*/
}

.img-gallery .img-gallery-item .thumb {
    z-index: 1;
    position: relative;
    width: 100%;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.img-gallery .img-gallery-item .thumb::after {
    content: " ";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #9cdce5;
    top: 0;
    left: 0;
}

.img-gallery .img-gallery-item .thumb.thumb-text {
    display: flex;
    align-items: center;
}

.img-gallery .img-gallery-item .thumb.thumb-text .thumb-text-content {
    padding: 40px;
    overflow: hidden;
    max-height: 100%;
}

.img-gallery .img-gallery-item .thumb.thumb-text::after {
    z-index: -1;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    background: #f8f8f8;
}

.img-gallery .img-gallery-item .thumb.thumb-text:hover::after {
    background: #9cdce5;
}

.img-gallery .img-gallery-item .thumb img {
    z-index: 2;
    position: relative;
    top: 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    left: 0;
    width: 100%;
    height: 100%;
}

.widget_a2a_share_save_widget {
    text-align: center;
}

.img-gallery .img-gallery-item .thumb:hover {
    z-index: 3;
    transform: scale(1.1);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.img-gallery .img-gallery-item .thumb .link {
    display: none;
    font-family: 'Vidaloka', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
    color: #484848;
    text-align: center;
}

.img-gallery .img-gallery-item .thumb .link .arrow {
    font-size: 50px;
}

.img-gallery .img-gallery-item .thumb:hover .link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center
}

.img-gallery .img-gallery-item .thumb .link span {
    margin: 0;
}

.img-gallery .img-gallery-item.clickable .thumb:hover img {
    opacity: 0.05;
    cursor: pointer;
}

.img-gallery .thumb-wrapper {
    position: relative;
}

.blog-list-area {
    height: 260px;
}

.blog-list-area a {
    color: #F6F6F6;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;

}

#home-about-title {
    color: #F6F6F6;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 100;
}

#home-about-description {
    font-family: 'Vidaloka', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 33px;
    line-height: 40px;
}

.home-blog-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.blog-post {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
}

#home-about-row {
    color: #F6F6F6;
    height: auto;
    padding-bottom: 90px;
    position: relative;
}

#home-about-row .blue-line-about-text {
    background: #9cdce5;
    position: absolute;
    bottom: 20%;
    max-width: 192px;
    width: 100%;
}

div#perfil-linkedin {
    text-align: center;
}

div#perfil-linkedin a {
    color: #333;
}

#galeria-clientes {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap
}

#galeria-clientes .logo-cliente {
    min-width: 100px;
    min-height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin: 30px auto;
}

#galeria-clientes .logo-cliente:first-child {
    /*margin-left: 0;*/
}

#galeria-clientes .logo-cliente:last-child {
    /*margin-right: 0;*/
}

#galeria-clientes .col {
    text-align: center;
}

#galeria-clientes .col img {
    margin: auto;
}

/* contato */

article#contato .forms-area {
    background-color: #676767;
}

#contato .form-tab-pane {
    padding: 80px;
}

#contato .btn-submit, .btn-action-blue {
    padding: 15px 50px;
    background: #9cdce5;
    font-family: Vidaloka, serif;
    font-style: italic;
    font-size: 22px;
    color: #3c3c3c;
    border: none;
    margin-bottom: 20px;
}

#contato .btn-submit {
    float: right;
}

#contato .form-control {
    border-radius: 0;
    box-shadow: none;
    background: #d5d2d2;
    min-height: 50px;
    padding: 15px 25px;
    border: none;
    margin-bottom: 50px;
    font-size: 16px;
}

#contato .form-control::placeholder {
    color: #676767;
}

#contato #page-sidebar {
    color: #FFFFFF;
    font-family: Vidaloka, serif;
    padding: 0 20px;
    font-size: 16px;
    text-align: justify;
}

/*arquivos*/

p.link-arquivo {
    display: inline-block;
    padding: 20px;
    background: #f0f0f0;
    margin: 5px;
    font-size: 24px;
}

.arquivos-posts {
    background: #f0f0f0;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 3px;
}

.arquivos-posts .arquivo-post a {
    color: #9c0000;
    display: block;
    margin-bottom: 5px;
}

span.arquivo-post-data {
    color: #999;
    font-size: 14px;
    display: block;
    margin-bottom: 2px;
    margin-top: 15px;
}

/*servicos*/

.servico .servico-titulo {
    margin-top: 20px;
    padding: 0 40px;
}

.servico {
    text-align: center;
    margin-bottom: 50px;
    color: #000;
    font-size: 20px;
    font-weight: 300;
}

div#servicos-relacionados {
    padding: 0 100px;
}

div#servicos-relacionados .servico {
    font-size: 14px;
}

div#servicos-relacionados .servico .servico-thumb {
    max-width: 140px;
    margin: 0 auto;
}

#servico #page-content h2, #servico #page-content h1, #servico #page-content h3 {
    font-size: 20px;
    text-transform: uppercase;
}

/*treinamentos*/

.curso h2, .curso h1, .curso h3 {
    font-size: 20px;
}

.curso {
    background: #EEEEEE;
    padding: 30px;
    margin-bottom: 30px;
}

/***********************************
 * BLOG & WIDGETS
***********************************/

/*widgets*/
.widget {
    margin-bottom: 50px;
}

.widgettitle {
    border: 0;
    margin-bottom: 25px;
    font-family: 'Ubuntu', serif;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.widget ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
}

.widget .product-categories .cat-item a {
    display: block;
    margin: 10px 0;
}

.widget .product-categories .children {
    list-style: none;
    padding: 0 0 0 20px;
    margin-bottom: 30px;
}

.widget .product-categories .children .cat-item a {
    font-weight: normal;
    color: #666;
}

.widget .product-categories .children .current-cat a {
    color: #000;
    font-weight: bold;
}

.widget .product-categories .cat-item a {
    color: #666;
}

.widget .product-categories .current-cat > a {
    font-weight: bold;
}

.widget .product-categories .current-cat a {
    color: #000;
}

#sidebar .widget_categories li {
    margin-bottom: 5px;
}

.widget_recent_entries span.post-date {
    color: #999;
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
}

#blog .upw-posts article,
#single .upw-posts article {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#blog .upw-posts .entry-title,
#single .upw-posts .entry-title {
    margin-bottom: 5px;
}

#sidebar-toggle {
    display: none;
}

/*blog*/

.post-item {
    margin-bottom: 50px;
}

.post .thumb {
    text-align: center;
}

.post-item .thumb img {
    height: auto;
}

.post-item h1 {
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.post-header-meta {
    font-size: 11px;
}

.post-header-meta, .post-header-meta a {
    color: #999;
}

.post-item .excerpt p {
    color: #666;
}

#blog-image {
    width: 100%;
}

#blog-image img {
    width: 100%;
}

#blog-image-bottom-text {
    text-align: center;
    font-size: 28px;
    font-family: Vidaloka, serif;
    font-style: italic;
    max-width: 600px;
    margin: auto;
    color: #524e4f;
    line-height: 36px;

}

/***********************************
 * UTILS
***********************************/

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center
}

.centered-container .centered-item {
    margin: 0;
}

.tab-text-img p {
    text-align: justify;
    font-size: 18px;
    line-height: 33px;
}

.tab-text-right-img p {
    text-align: right;
    font-size: 18px;
    line-height: 33px;
}

.title-separator {
    display: table;
    white-space: nowrap;
    overflow: hidden;
    margin: 20px auto 40px;
    font-weight: 300;
}

.title-separator:before, .title-separator:after {
    border-top: 1px solid #383737;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%;
}

.title-separator:before {
    right: 2.5%;
}

.title-separator:after {
    left: 2.5%;
}

.space {
    width: 1px;
    height: 30px;
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100% !important;
}

.wp-pagenavi {
    text-align: center;
    margin: 50px auto;
}

.wp-pagenavi .current {
    background: #242424;
    border-color: #000;
    color: #fff;
}

/***********************************
 * OVERRIDE CYCLONE
***********************************/
a.cycloneslider-prev {
    left: 150px !important;
}

a.cycloneslider-next {
    right: 150px !important;
}

.cycloneslider-prev, .cycloneslider-next {
    background-color: transparent !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

/***********************************
 * OVERRIDE BOOTSTRAP
***********************************/
.nav-tabs {
    justify-content: center;
    border-bottom: none;
}

.nav-tabs .nav-link {
    border-width: 1px;
    border-color: #ccc;
}

.navbar-light .navbar-nav .nav-link {
    color: #232323;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #0C4D63;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: none;
    text-decoration: line-through;
    /*noinspection CssOverwrittenProperties*/
    text-decoration: #9cdce5 line-through; /* Ignored in CSS1/CSS2 UAs */
}

.btn.btn-clean {
    border: 1px solid #c6c6c6;
    background: transparent;
    color: #595959;
}

.btn.btn-clean .fa {
    color: #0b0b0b;
}

.main .nav-tabs .nav-link {
    border-width: 0;
}

.modal-dialog {
    top: 60px;
    -webkit-box-shadow: 0px 0px 54px 0px rgba(191, 191, 191, 1);
    -moz-box-shadow: 0px 0px 54px 0px rgba(191, 191, 191, 1);
    box-shadow: 0px 0px 54px 0px rgba(191, 191, 191, 1);
}

.modal-content {
    border-radius: 0;
}

.modal-backdrop {
    background: #fff;
}

.modal-backdrop.show {
    opacity: .8;
}

/***********************************
 * MEDIA QUERIES
***********************************/

@media ( max-width: 1200px ) {
    #top-header .info-contato {
        margin-right: -20px;
        font-size: 13px;
    }

    #top-menu a.nav-link {
        font-size: 14px;
        padding: 8px;
    }

    .servico {
        font-size: 18px;
    }

    #servicos-relacionados .servico .servico-titulo {
        padding: 0 20px;
    }

    .img-gallery .thumb img {
        height: 300px;
    }

    .thumb-text-content {
        padding: 10px !important;
    }

    .thumb-text-content h2 {
        font-size: 16px;
    }

    .thumb-text-content p {
        font-size: 13px;
    }
}

@media ( max-width: 1000px ) {
    #header-social {
        border: none;
        text-align: center;
    }

    #footer .social, #footer #bottom-menu {
        display: none;
    }

    #footer #footer-logo {
        text-align: center;
    }

    #header-social-wrapper {
        margin: auto !important;
        padding-left: 10px;
    }
}

@media ( max-width: 990px ) {

    #busca {
        margin: auto;
    }

    header .page-title {
        width: 100%;
        text-align: center;
    }

    #breadcrumbs {
        text-align: center;
        margin-bottom: 25px;
    }

    #contato .form-tab-pane {
        padding: 80px 20px;
    }

    .thumb-text-content {
        text-align: center;
    }

    .thumb-text-content h2 {
        font-size: 14px;
        font-weight: bold;
    }

    .thumb-text-content p {
        display: none;
    }

    .thumb-text-content {
        padding: 8px !important;
    }

    .page-title {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #contato .btn-submit {
        float: none;
        display: block;
        margin: auto;
    }

    #header-search-btn {
        width: 100%;
        text-align: center;
    }

}

@media ( max-width: 900px ) {
    #sidebar-toggle {
        display: block;
    }

    #sidebar-toggle a {
        display: block;
        margin: 0 0 15px;
        padding: 10px;
        text-align: center;
        background: #F0f0f0;
    }

    .img-gallery .thumb img {
        height: 225px;
    }

    #home-about-row {
        padding-bottom: 0px;
    }
}

@media ( max-width: 768px ) {
    .admin-bar #header {
        top: 47px;
    }

    div#busca {
        display: none;
    }

    #header-logo {
        border: 0;
        text-align: center;
        display: block;
        margin: 0;
        padding: 0;
    }

    .home-info-middle {
        min-height: 0;
        margin: 20px 0;
        padding: 20px 0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .home-info-middle:before, .home-info-middle:after {
        display: none;
    }

    header .page-title {
        text-align: center;
        font-size: 26px;
        margin-bottom: 0;
    }

    #breadcrumbs {
        text-align: center;
        font-size: 11px;
    }

    #page-sidebar {
        min-height: 0;
        padding: 10px;
        margin-bottom: 50px;
    }

    #page-sidebar:after, #page-sidebar:before {
        display: none;
    }

}

@media ( max-width: 767px ) {
    .scrolled #header,
    .admin-bar.scrolled #header {
        top: 0;
    }

    #mobile-menu {
        margin-bottom: 0;
        padding: 5px 0;
        border-top: 1px solid #ddd;
    }

    #mobile-menu button.navbar-toggler {
        display: block;
        text-align: center;
        width: 100%;
    }

    #mobile-menu .menu-item.current-menu-item a.nav-link {
        color: #27ae60;
        font-weight: bold;
    }

    #top-header .info-contato {
        margin-right: 0;
        margin-left: -15px;
        font-size: 12px;
    }

    #main-menu {
        display: none;
    }

    #perfil-linkedin iframe {
        max-width: 100%;
    }

    div#servicos-relacionados {
        padding: 0 20px;
    }

    .curso {
        padding: 20px;
        font-size: 14px;
    }

    .img-gallery .thumb img {
        height: 192px;
    }

    #footer #footer-logo {
        text-align: center;
    }

    #footer .social {
        border: none !important;
        margin: auto;
    }

    #footer .social a {
        margin: auto;
    }

    #copyright .col-copyright-text {
        text-align: center;
        padding: 15px;
    }

    #copyright .col-copyright-logo {
        padding: 15px;
        text-align: center;
    }

    .tab-text-right-img {
        margin: 30px auto !important;
        text-align: center;
    }

    .tab-text-right-img .pull-right {
        float: none;
    }

    .tab-text-right-img p {
        text-align: center;
    }
}

/* BOOTSTRAP md */
@media ( max-width: 576px ) {

    .img-gallery .thumb img {
        height: 576px;
    }

    #footer .social {
        margin-top: 20px !important;
    }

    #contato .form-tab-pane {
        padding: 80px 5px;
    }

    .thumb-text-content {
        padding: 40px !important;
    }

    .thumb-text-content h2 {
        font-size: 22px;
        text-align: center;
    }

    .thumb-text-content p {
        display: block;
        font-size: 18px;
    }

    .img-gallery-item {
        margin-bottom: 20px;
    }
}

@media ( max-width: 375px ) {

    .img-gallery .thumb img {
        height: 375px;
    }
}
